[Unit]
Description=Boatlog Service
After=network.target

[Service]
User={{USER}}
WorkingDirectory={{INSTALL_PATH}}
ExecStart={{INSTALL_PATH}}/venv/bin/python {{INSTALL_PATH}}/save_track.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target